<!--The whole content below can be removed with the new code.-->
<div class="container">
  <div>
    <h1>Component Library</h1>
    <ul>
      <li>
        <a [routerLink]="['request/company','supplier']"> Supplier Request Form </a>
      </li>
      <li>
        <a [routerLink]="['request/company','customer-company']"> Customer (Compnay) Request Form </a>
      </li>

      <li>
        <a [routerLink]="['request/company','customer-person']"> Customer (Person) Registration Form </a>
      </li>
      <li>
        <a [routerLink]="['delivery-pickup-points-picker']"> Delivery Pickup Points Picker</a>
      </li>
    </ul>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>


