<div class="col-md-12">
  <h2 *ngIf="slug!=='customer-person'" style="text-align: center">
    {{ title }} Request Form
  </h2>
  <h2 *ngIf="slug==='customer-person'" style="text-align: center">
    {{ title }} Registration Form
  </h2>

  <hr>
  <form class="form-horizontal" (submit)="submitRequestForm()">
    <div class="form-group" *ngIf="slug!=='customer-person'">
      <label for="company_name" class="col-sm-2 control-label">{{title}} Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="company_name" placeholder="{{ title }} name">
      </div>
    </div>

    <div class="form-group" *ngIf="slug==='customer-person'">
      <label for="" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="company_name" placeholder="Firstname">
      </div>
    </div>

    <div class="form-group" *ngIf="slug==='customer-person'">
      <label for="company_name" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="company_name" placeholder="Lastname">
      </div>
    </div>

    <div class="form-group" *ngIf="slug==='customer-person'">
      <label for="" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="company_name" placeholder="username">
      </div>
    </div>

    <div class="form-group" *ngIf="slug==='customer-person'">
      <label for="" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="company_name" placeholder="password">
      </div>
    </div>

    <div class="form-group" *ngIf="slug==='customer-person'">
      <label for="" class="col-sm-2 control-label">Confirm Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="company_name" placeholder="confirm password">
      </div>
    </div>

    <div class="form-group">
      <label for="contact" class="col-sm-2 control-label">
        Contact no.<br>
        <small style="color:red"><i>A Verification code will be send to this number</i></small>
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contact" placeholder="contact no">
      </div>
    </div>


    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">
        Email
      </label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="email">
      </div>
    </div>


    <div class="form-group">
      <label for="address" class="col-sm-2 control-label">
        Address
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="address" placeholder="address">
      </div>
    </div>

    <div *ngIf="slug!=='customer-person'">
      <div class="form-group" *ngFor="let item of createRange(allAttachmentCounter);let i=index">
        <label class="col-sm-2 control-label ">
          <span *ngIf="i<=0">  Attachments </span>
        </label>
        <div class="col-sm-10 ">
          <input class="form-control" type="file">
          <button *ngIf="i>0" type="button" class="pull-right btn btn-danger btn-xs" (click)="removeAttachment(i)"><i
            class="fa fa-times" aria-hidden="true"></i></button>
        </div>
      </div>
      <button (click)="addAttachment()" type="button" class="pull-right btn btn-success"><i class="fa fa-plus"
                                                                                            aria-hidden="true"></i>
        More
      </button>
    </div>


    <div class="form-group">
      <br><br> <br><br>
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-block btn-primary">
          <span *ngIf="slug!=='customer-person'"> Apply </span>
          <span *ngIf="slug==='customer-person'"> Register </span>
        </button>
      </div>
    </div>
  </form>
</div>


